<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.user.first_name %> et bienvenue à l'évènement <%= @attendance.event.title %> !</h1>
    <p>
      Pour accéder à l'évènement, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur eventbrite.fr !
  </body>
</html>
