<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Holy Guacamole <%= @user.email %>, did you see the fucking weather outside?!</h1>
    <p>
      You suscribed to heroku run rake db:migrate using the following email : <%= @user.email %>.
    </p>
    <p> See you later alligator, on monsite.fr!
  </body>
</html>

