<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.event.admin.full_name %> !</h1>
    <p>
      Un nouveau participant <%= @attendance.guest.email %> s'est ajouté à ton event <%= @attendance.event.title %> .
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>