<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendance.user.first_name %>. Merci pour ton inscription à l'évènement <%= @attendance.event.title %>.</h1>
    <p>
      Tu peux dès à présent te connecter via <%= @url %>.
    </p>
    <p> À très vite !</p>
  </body>
</html>
