<p>Salut<%= @resource.email %> !</p>

<p>As-tu demandé à modifier ton mot de passe ? Tu peux le faire via le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tu n'as pas demandé cela, s'il te plaît ignore ce mail.</p>

<p>Ton mot de passe ne changera pas jusqu'à que tu cliques sur le lien ci-dessous et crées un nouveau mot de passe.</p>
