<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %> welcome!</h1>
    <p>
      Your email: <%= @user.email %>.
    </p>
    <p>
      Sign invia : <%= @url %>.
    </p>
    <p> Xoxo
  </body>
</html>
